name: Deploy to GitHub Pages

permissions:
  contents: write
  pages: write
  id-token: write

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  schedule:
    - cron: 0 0 * * 1 # Every Monday at 00:00 UTC

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1

      - name: Install Dependencies
        run: bun install --ci

      - name: Build
        run: bun run build
      - name: Verify Build Output
        run: |
          if [ ! -d "./out" ]; then
            echo "Error: out directory does not exist!"
            ls -la
            exit 1
          fi
      - name: Add .nojekyll file
        run: touch ./out/.nojekyll

      # 5. Публикация на GitHub Pages
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: out
          token: ${{ secrets.GITHUB_TOKEN }}
          clean: true
